body{ background-color: #89cff0; 
	 style="text-align:center";
} 
p { color: purple; 
	font-style: italic;
	text-shadow: 2px 2px 8px black;
	    font-size: 50px;

} 

h1{ color: purple;

	font-style: bold;
	text-shadow: 2px 2px 8px purple;
	    font-size: 60px;

 }

 img {
    border-radius: 50%;
        padding: 5px;
            border: 1px solid #ddd;


}
